In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn
from sklearn.cluster import DBSCAN

In [2]:
from collections import Counter

In [3]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df[:5]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

# Data cleaning and Processing

In [4]:
df1 = df.drop(['area_type','availability','society','balcony'],axis=1)
df1[:10]

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00
5                Whitefield      2 BHK       1170   2.0   38.00
6          Old Airport Road      4 BHK       2732   4.0  204.00
7              Rajaji Nagar      4 BHK       3300   4.0  600.00
8              Marathahalli      3 BHK       1310   3.0   63.25
9              Gandhi Bazar  6 Bedroom       1020   6.0  370.00

In [5]:
df1.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [6]:
df1.shape

(13320, 5)

In [7]:
df2 = df1.dropna()

In [8]:
df2.shape

(13246, 5)

In [9]:
df2.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [10]:
df2[:5]

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [12]:
df2['BHK']=df2["size"].apply(lambda x: x.split(" ")[0])
df2[:3]

C:\Users\Ankit Rawat\AppData\Local\Temp\ipykernel_3104\3804069404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BHK']=df2["size"].apply(lambda x: x.split(" ")[0])

                   location       size total_sqft  bath   price BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4
2               Uttarahalli      3 BHK       1440   2.0   62.00   3

In [14]:
df3 = df2.drop(['size'],axis=1)

In [15]:
df3[:3]

                   location total_sqft  bath   price BHK
0  Electronic City Phase II       1056   2.0   39.07   2
1          Chikka Tirupathi       2600   5.0  120.00   4
2               Uttarahalli       1440   2.0   62.00   3

In [39]:
value_counts=df3['location'].value_counts()

In [40]:
to_rename = value_counts[value_counts < 11].index.tolist()

In [41]:
to_rename

['Dairy Circle',
 'Kalkere',
 'Dodsworth Layout',
 'Sadashiva Nagar',
 'Naganathapura',
 'Nagadevanahalli',
 '1st Block Koramangala',
 'Gunjur Palya',
 'Nagappa Reddy Layout',
 'BTM 1st Stage',
 'Ganga Nagar',
 'Basapura',
 'Chennammana Kere',
 'Vishwanatha Nagenahalli',
 'Jakkur Plantation',
 '2nd Phase JP Nagar',
 'B Narayanapura',
 'Chandra Layout',
 'Lingarajapuram',
 'Kamakshipalya',
 'Gollahalli',
 'Vignana Nagar',
 '4th Block Koramangala',
 'Sector 1 HSR Layout',
 'Banagiri Nagar',
 'KUDLU MAIN ROAD',
 'Mathikere',
 'Volagerekallahalli',
 'Kaverappa Layout',
 'Richmond Town',
 'Yemlur',
 'Peenya',
 'Medahalli',
 'Ejipura',
 'Sathya Sai Layout',
 'Hongasandra',
 'Basavanapura',
 'Outer Ring Road East',
 'Nelamangala',
 'Seetharampalya',
 'Jalahalli West',
 'Nallurhalli',
 'Kodbisanhalli',
 'Hoysalanagar',
 'Akshayanagara East',
 'Shikaripalya',
 'Shanti Nagar',
 'Huskur',
 'Vasanth nagar',
 'Dodda Nekkundi Extension',
 'Mahalakshmi Puram',
 'Reliaable Tranquil Layout',
 'Kattigenahalli',
 'Ittamadu',
 'Dollars Colony',
 'Sidedahalli',
 '1st Block HRBR Layout',
 'Vajarahalli',
 'Sarjapur Road, ',
 'MS Pallya',
 'Byadarahalli',
 'Gopalkrishna Nagar',
 'Roopena Agrahara',
 'Manayata Tech Park',
 'Cambridge Layout',
 'Kanaka Nagar',
 'Akshaya Vana',
 'Thirumenahalli',
 'Kundalahalli Colony',
 'Jeevan bima nagar',
 'Hoodi Circle, ',
 'Hennur Gardens',
 'Wilson Garden',
 'HOSUR MAIN ROAD',
 'Tejaswini Nagar',
 'Ashwath Nagar',
 'Bank Of Baroda Colony',
 'Hessarghatta',
 '8th block Koramangala',
 'Ramakrishnappa Layout',
 'AGS Layout',
 'Singapura Village',
 'Green View Layout',
 'Keshava Nagar',
 'Madiwala',
 '2nd Block Hrbr Layout',
 '4th T block Jayanagar',
 'Byrasandra',
 'Richards Town',
 'Canara Bank Colony',
 'Byatarayanapura',
 'Basaveshwara Nagar Yelahanka',
 'Maruthi Sevanagar',
 'Ambedkar Colony',
 'Channasandra Layout',
 'Cholanayakanahalli',
 'Doctors Layout',
 '3rd Block Hrbr Layout',
 'Austin Town',
 'Doddakammanahalli',
 'Doddabommasandra',
 'Defence Colony',
 'Jayanagar',
 'Victoria Layout',
 'Vijaya Bank Layout',
 'RMV 2nd Stage',
 'Samethanahalli',
 'Venkatapura',
 'Rajiv Gandhi Nagar',
 'Nagawara Junction',
 'Srirampura',
 'Maragondanahalli',
 'Gopalapura',
 'Shantiniketan Layout',
 'Hennur Bande',
 'Siddapura',
 'Varanasi',
 'Suraksha Nagar',
 'Motappa Layout',
 'Doddakannelli',
 'Nayandanahalli',
 'Bileshivale',
 'Kacharakanahalli',
 'Doddanakundi Industrial Area 2',
 'Bagalakunte',
 'Ashirvad Colony',
 'ITI Layout',
 ' Devarabeesana Halli',
 'Rustam Bagh Layout',
 'Chelekare',
 'Dodda Banaswadi',
 'New Thippasandra',
 'Srinivasa Nagar',
 'Anand Nagar',
 'Abbaiah Reddy Layout',
 'Devasthanagalu',
 'Amblipura',
 'Doddanekundi',
 'Shree Ananth Nagar Layout',
 'Kumara Park',
 'Bhuvaneshwari Nagar',
 'Ashwathnagar',
 'Byrathi Village',
 'Meenakunte',
 'Nagaraja Garden',
 'Sunkadakatte',
 'Maruthi Nagar',
 'Hosahalli Extension',
 'Kallumantapa',
 'VGP Layout',
 'Vishwapriya Nagar',
 'Pattanagere',
 'Nagashetty Halli',
 '6th block Koramangala',
 'Raghuvanahalli',
 '3rd Block Banashankari',
 'Chikkadunnasandra',
 'Virat Nagar',
 'Maithri Layout',
 'Coconut Grove Layout',
 '9th Block Jayanagar',
 'Jakkasandra Extension',
 'Akshya Nagar',
 'A Narayanapura',
 '1st Stage Indira Nagar',
 'Lavelle Road',
 'Kurubarahalli',
 'Byagadadhenahalli',
 'Bagalur',
 'Devi Nagar',
 'Stage-4 Bommanahalli',
 'Bellari Road',
 'Doddabanahalli',
 'Kadabagere',
 'Munivenkatppa Layout',
 'Mallathahalli',
 'Hiremath Layout',
 'Cottonpet',
 'KR Garden',
 'Srirampuram',
 'Doopanahalli',
 'Attur Layout',
 'Govindpura',
 'Amruthnagar',
 'Nagondanahalli',
 'Avalahalli',
 'HMT Layout',
 'Kadugondanahalli',
 'Shanthala Nagar',
 'New Gurappana Palya',
 'Vasantha Vallabha Nagar',
 'RMV Extension',
 'Jakkuru Layout',
 'Silk Board',
 'Off Sarjapur Road, ',
 '7th Block Jayanagar',
 'Kada Agrahara',
 'Belathur',
 'Ramanjaneyanagar',
 'Basavanagara',
 'Geddalahalli',
 'Lavakusha Nagar',
 'Moodalapalya',
 'MCECHS  layout',
 'Nyanappana Halli',
 'Kammagondahalli',
 'Mylasandra',
 'Tavarekere',
 'Konanakunte Cross',
 'Carmelaram',
 'Kirloskar Layout',
 'Ngef Layout',
 'Chikkasandra',
 'Jnanabharathi Layout',
 'Immadihalli',
 'Tala Cauvery Layout',
 'Kamala Nagar',
 'Kumarapalli',
 'Tata Nagar',
 'Thanisandra main road',
 'Silver Springs Layout',
 'Doddagubbi',
 'Bikasipura',
 'Alfa Garden Layout',
 'Gowdanapalya',
 'Upkar Layout',
 'Herohalli',
 'BEL Road',
 'NS Palya',
 'Judicial Layout, Kanakapura Road, ',
 'Dooravani Nagar',
 'JCR Layout',
 'Udayapur Village',
 'Laxmi Sagar Layout',
 'Kodathi',
 'Suddaguntepalya',
 'Sector 6 HSR Layout',
 'Chinnapanahalli',
 'Shankarapuram',
 'Palace Guttahalli',
 'Poornapragna Housing Society Layout',
 'BCC Layout',
 'Bagalur Main Road',
 'BSM Extension',
 'Chennappa Layout',
 'Raja Rajeshwari Nagar 5th Stage',
 'Basavanna Nagar',
 'tc.palya',
 'Puttanahalli',
 'RWF West Colony',
 'Pragathi Nagar',
 'Vaishnavi Layout',
 'Sai Gardens',
 'Lakshmi Layout',
 '4th Phase JP Nagar',
 'Harsha Layout',
 '2nd Block Jayanagar',
 'OLd Gurappanapalya',
 'T Dasarahalli',
 'Brooke Bond First Cross',
 'Manjunath Nagar',
 'Divya Unnathi Layout',
 'Lake City',
 'Glass Factory Layout',
 'Singena Agrahara',
 'Chikkathoguru',
 ' Mysore Highway',
 'Udaya Nagar',
 '8th Block Jayanagar',
 'Hanumanth Nagar',
 'AMS Layout',
 'Langford Town',
 'Ramamurthy Nagar Extension',
 '4th Block Jayanagar',
 'Vinayaka Nagar',
 'Kuvempu Nagar',
 'Varsova Layout',
 'Gokula Extension',
 'Singanayakanahalli',
 'Dasappa Layout',
 'Venugopal Reddy Layout',
 'BTM 4th Stage',
 'Thanisandra Main Road, ',
 'Lakshmipura',
 'Dinnur',
 'Kithaganur',
 'Bidadi',
 'Sri Balaji Krupa Layout',
 'J C Nagar',
 'Kenchenhalli',
 'Arishinakunte',
 'Thippasandra',
 'BHEL Layout',
 'Yeshwanthpur Industrial Suburb',
 'Kaveri Nagar',
 'Agrahara Dasarahalli',
 'Krishna Reddy Layout',
 'Surabhi Layout',
 'Ullal Road',
 'D Group Employees Layout',
 'Lottegolla Halli',
 'Nandini Layout',
 'Kengeri Hobli',
 'B Channasandra',
 'Arehalli',
 'Manorayana Palya',
 'Ayappa Nagar',
 'Bhagyalakshmi Avenue',
 'Prashanth Nagar',
 'RMV',
 'Crimson Layout',
 'Gulimangala',
 'Domlur Layout',
 'Govindapura',
 'Kothnur Narayanapura',
 'Ilyas Nagar',
 'Kodipalya',
 'Vinayak Nagar',
 'Kashi Nagar',
 'SMV layout',
 'Sarvabhouma Nagar',
 'Brindavan Nagar',
 'Hanumantha Nagar',
 '3rd Phase JP Nagar',
 'Seshadripuram',
 'RPC layout',
 'Rajarajeshwari Nagara',
 'Bethel Nagar',
 'Kachanayakanahalli',
 'Atmananda Colony',
 'Baba Nagar',
 '5th Block Jayanagar',
 'Sampangi Rama Nagar',
 'Hegganahalli',
 'Dollars Layout',
 'Adityanagar',
 'Esther Enclave Layout',
 'Konena Agrahara',
 'Jayanti Nagar',
 'T.C PALYA',
 'Hagadur',
 'Vimanapura',
 'Jinkethimmanahalli',
 'Rajarajeshwari nagar',
 'Ullal Uppanagar',
 'Coffee Board Layout',
 'Bhuvaneswari Nagar',
 'Sanjeevini Nagar',
 'Marasandra',
 'Devara Jeevanahalli',
 'Nobo Nagar',
 'Ramesh Nagar',
 'Devarachikkanahalli',
 'Nanjappa Layout',
 'Tirumanahalli',
 'Gkvk Layout',
 'Sanne Amanikere',
 'Palanahalli',
 'Anantapura',
 'Virupakshapura',
 'Ankappa Layout',
 'Veerannapalya',
 ' Thanisandra',
 '2nd Stage Arekere Mico Layout',
 'Devanahalli Int. Airport',
 'Mathikere Extension',
 'Himagiri Meadows',
 'Ferrar Nagar',
 'Belatur',
 'Thurahalli',
 'Kamakya Layout',
 'Sathya Layout',
 'Weavers Colony',
 'Hosapalya',
 'Raghavendra Nagar',
 'Chikka Banaswadi',
 'P&T Layout',
 'KR Layout',
 'Narayana Nagar 1st Block',
 'Vadarpalya',
 'Mangammanapalya',
 'Daadys Gaarden Layout',
 'Kumbena Agrahara',
 '1st Block HBR Layout',
 'KSRTC Layout',
 'Venkatadri Layout',
 '3rd Block Jayanagar',
 'Jayamahal',
 'Vittal Nagar',
 'Sadaramangala',
 'Srinagar',
 'Anjappa Layout',
 '5th Stage BEML Layout',
 'Telecom Layout',
 'Kavika Layout',
 'Harappanahalli',
 'Alur',
 'Ashwini layout',
 'Shettigere',
 'Tunganagara',
 'Tasker Town',
 'Makali',
 'VHBCS Layout',
 'Pampa Extension',
 'Basava Nagar',
 'Canara Bank Layout',
 'Gattahalli',
 'Jnana Ganga Nagar',
 'Ramanashree Enclave',
 'Celebrity Paradise Layout',
 'CQAL Layout',
 'Vasanthpura',
 'Anugrah Layout',
 'Lakshmiamma Garden',
 'Guddadahalli',
 'manyata park',
 'Tigalarpalya',
 'Green Woods Layout',
 'Devanahalli Road',
 'Marenahalli',
 'Kyalasanahalli',
 'Nanjappa Garden',
 'Lal Bahadur Shastri Nagar',
 'Shirdi Sai Layout',
 'Upadhyaya Layout',
 'Gaurava Nagar',
 '2nd Block Bel Layout',
 'Rajankunte',
 'Koramangala Industrial Layout',
 'MLA Layout',
 'Nandi Hills',
 'Aishwarya Crystal Layout',
 'V.V Puram',
 'Dodda Kempaiah Layout',
 'Kullappa Colony',
 'Jayamahal Extension',
 'Omarbagh Layout',
 'Dollar Scheme Colony',
 'Ashok Nagar',
 'Dr Shivarama Karantha Nagar',
 'Chikkakannalli',
 'Nandi Durga Road',
 'Kothnoor Dinne',
 'Manjunatha Layout',
 'Hunasamaranahalli',
 'Shingapura',
 ' Electronic City',
 'Muthurayya Swamy Layout',
 'Gnana Bharathi',
 'Chokkanahalli',
 'Chikku Lakshmaiah Layout',
 'Hadosiddapura',
 'Hosakerehalli Layout',
 'Bendiganahalli',
 'Lakkasandra',
 'Indra Nagar',
 'Thomas Town',
 'Janatha Colony',
 'Gattigere',
 'Dwarka Nagar',
 'Kannur',
 'ECC Road, Whitefield, ',
 'GD Layout',
 'Phase 1 Kammasandra',
 'Raghavendra Layout',
 'RR Layout',
 'Kariyammana Agrahara',
 'Hallehalli',
 'Yarandahalli',
 'KEB Colony',
 'Coconut Garden',
 'Rajarajeshwarinagar',
 'Anjana Nagar',
 'Kempapura',
 'Rest House Road',
 'Rajasree Layout',
 'Jai Bheema Nagar',
 'Vaderahalli',
 'JP Nagar 7th Phase, ',
 'Bidrahalli',
 'JP Nagar 8th Phase, ',
 'Vibuthipura',
 'Annapurneshwari Nagar',
 'Ramchandrapuram',
 'Hennagara',
 'Koppa',
 'cooketown',
 'Veersandra',
 'Whitefield, ',
 'Akshayanagara West',
 'Devasandra Extension',
 'Brindavan Layout',
 'Varthur Road, ',
 'Anand nagar',
 'Neelamangala',
 'Garebhavipalya',
 'Kempegowda Nagar',
 'Madavara',
 'Rajapura',
 'Classic Paradise Layout',
 'Challaghatta',
 'Amam Enclave Layout',
 'Gidada Konnenahalli',
 'Kumbalgodu',
 'Friends Colony',
 'Doddabidrakallu',
 'Teachers Colony',
 'Postal Colony',
 'Near International Airport',
 'Krishna Nagar',
 'SBM Colony',
 'Vyalikaval',
 'Balaji Gardens Layout',
 'Srinivas Colony',
 'Bettahalsoor',
 'Sampigehalli',
 ' Rachenahalli',
 'Bhoopsandra',
 'Suragajakkanahalli',
 'BCMC Layout',
 'Shanthi Layout',
 'Vijinapura',
 'Jaya Mahal layout',
 'Church Street',
 'Ganesha Block',
 'Shetty Halli',
 'Guni Agrahara',
 '3rd Block Koramangala',
 'Pulkeshi Nagar',
 'Race Course Road',
 "St. John's Road",
 'Govindaraja Nagar Ward',
 '2nd Block Koramangala',
 'Sri Venkateshpura Layout',
 'Panduranga Nagar',
 'Remco Bhel Layout',
 'Hoodi Layout',
 'Harohalli',
 'Omkar Nagar',
 'Someshwara Layout',
 'Kathreguppe',
 'HAL 3rd Stage',
 'Patelappa Layout',
 'Versova Layout',
 'Vibhutipura Extension',
 'Billamaranahalli',
 'Chamundi Nagar',
 'Infantry Road',
 'SRINIVASAPURA',
 'Sneha Colony',
 'Uday Nagar',
 'M V Extenstion',
 'Mahaganapathy Nagar',
 'Geleyara Balaga Layout',
 'Vivek Nagar',
 'Gandhi Bazar',
 'Muneshwara Nagar',
 'Annaiah Reddy Layout',
 'Subash Nagar',
 'Sadanand Nagar',
 'Sri Sai Layout',
 'Mariyannapalya',
 'frazertown',
 'Sunder Ram Shetty Nagar',
 'Chennammanakere Achukattu',
 'Naidu Layout',
 'Langford Gardens',
 'Andrahalli',
 '1st Block BEL Layout',
 'Green Garden Layout',
 'Green Domain Layout',
 'Palace Road',
 'Veer Sandra',
 'Dena Bank Colony',
 'Electronic city Phase 1, ',
 'Anwar Layout',
 'Soundarya Layout',
 'Syndicate Bank Colony',
 ' south',
 'Amarjyothi Colony',
 'Cleveland Town',
 'RMV Extension Stage 2',
 'Kadarenahalli',
 'Jyothi Nagar',
 '6th Block Jayanagar',
 'Punappa Layout',
 'BTM Layout 2nd Stage 1st Phase',
 'elachenahalli',
 'Narayanappa Garden',
 'T C Palya main Road',
 'T R Mill Road',
 ' Basavangudi',
 'Hommadevanahalli',
 'Indira Nagar Stage 2',
 'Bhattarahalli',
 'Behind Don Bosco Church',
 'Nagarbhavi Garden Villas Layout',
 'Bande Nallasandra',
 'Ganganahalli',
 'Kamdhenu Nagar',
 'Jaymahal Road',
 'B K Nagar',
 ' Sector 1 HSR Layout',
 'Basaveswarnagar',
 '1 Immadihalli',
 'Chaitanya Ananya',
 ' Banaswadi',
 'Vidhyanagar Cross',
 'Yediyur',
 'Neelasandra',
 'poornaprajna layout',
 'Somanna Garden',
 'Kengeri Satellite Town Stage II',
 'Bandepalya',
 'Duvasapalya',
 'HSR Layout 7th sector, ',
 'bsk 6th stage 2ad block near sri conversation hall',
 'Annapoorneshwari Layout, JP nagar 7th phase',
 'Suryanagar',
 'CMH Road',
 'Byrasandra Extension',
 'Bettadasanapura',
 'Kanakapura Main Road',
 'Mudalpalaya',
 'Bilal Nagar',
 'AGB Layout',
 'Vijay Nagar',
 'Addischetan Layout',
 'SK Garden',
 'Banashankari 6th stage , 2nd block',
 'HAL Layout',
 'PNS Layout',
 'KG Halli',
 'Ex-Servicemen Colony Dinnur Main Road R.T.Nagar',
 'Cubbon Road',
 'Navodaya Nagar',
 'Veerabhadra Nagar',
 'Sugama Layout',
 'Grihalakshmi Layout',
 'Vidya Nagar',
 'pavitra paradise',
 'Maheswari Nagar',
 'Hsr layout sector3',
 'Thyagraj Nagar',
 'Banagirinagar',
 'Medaralli',
 'Chikkajala',
 'Udayagiri',
 'kadubisnahalli',
 'Allalasandra',
 'Rahmath Nagar',
 'Chikkanahalli',
 'Halanayakanahalli',
 'Park View Layout',
 'Xavier Layout',
 'Air View Colony',
 'akshaya nagar t c palya',
 'Ramanagara Channapatna',
 'Bapuji Nagar',
 'SHANTHINAGAR',
 'Sunkan palya',
 'Gubbi Cross, Hennur Main Road',
 'Sabari Nagar',
 'Ashraya Layout',
 'Whitefield ECC Road',
 'Maruthi nagar kogilu',
 'Prasanti Nagar',
 'Banasawadi, ',
 'Gayathri Nagar',
 'Vijaypura',
 'Old Mangammanapalya Road',
 '1Kasavanhalli',
 'Kanakapura Road, ',
 'Hal old airport road',
 'arudi',
 'Anantapuram',
 'Javarandoddi',
 'mvj engineering college',
 'Raja Rajashweri Nagar',
 'basaveshwarnagar',
 'Masjid e Alkareem',
 'Duddanahalli',
 'Beml layout, Rajarajeshwari nagar',
 'Gulakamale',
 'Jakkasandra',
 'Chellikere',
 'Zuzuvadi',
 'Kanakapura main  Road',
 'Sindhi Colony',
 'Banashankari 3rd stage, Vivekanandanagar',
 'Kanakapur main road',
 'Prasanna layout Herohalli',
 'Sarvobhogam Nagar',
 'Pattegarhpalya',
 'Tilak Nagar',
 '12th cross srinivas nagar banshankari 3rd stage',
 'Havanur extension',
 'Doddanakunte',
 'Jogupalya',
 'Subhash Nagar',
 'Kengeri Satellite Town KHB Apartment',
 'manyata',
 'LIC Colony',
 'Mallappa Layout',
 '3rd Stage Raja Rajeshwari Nagar',
 'Dominic Layout',
 'KAMAKIYA',
 'Wheelers Road',
 'MM Layout',
 'Devarabeesana Halli',
 'beml layout, basaveshwara nagar',
 'Sadhguru Layout',
 'Chikbasavanapura',
 'Electronic City Phase 1, ',
 'Chuchangatta Colony',
 'Hanuman Nagar',
 'Jeevanhalli',
 'MEI layout, Bagalgunte',
 'Richmond Road',
 'Soppahalli',
 '2nd Block Hbr Layout',
 'Dwaraka Nagar',
 'Banashankari 6th Stage',
 'Chambenahalli',
 'Kathriguppe IV Phase',
 '1Hoysalanagar',
 'PC Palaya',
 'Aavalahalli',
 'Venkateswara Nagar',
 'Virudhu Nagar',
 'kamanahalli main road',
 '7th Block Koramangala',
 'Prakash Nagar',
 'Bharat Nagar',
 'Yelahanka,MVIT college',
 'Pillahalli',
 'Millers Road',
 'Rajarajesheari nagar',
 'Asthagrama Layout',
 'Jayanagar, ',
 'Jay an agar 4 T Block',
 'Satyasaibaba Layout',
 'Queens Road',
 'RR Nagar',
 'Jagadish Nagar',
 '3rd Phase Iti Layout',
 'Ananthapura, T C palaya Main Road',
 'Deepanjali Nagar',
 'SARJAPUR BAGALUR ROAD',
 'B Y Raveshwara Nagar',
 'HOSUR RMAIN ROAD',
 'Konappana Agrahara',
 'Vinayaka Layout',
 'Thirumalashettyhally',
 'Bharathnagar',
 'Gollarahatti',
 'Chikkagubbi',
 'Kanakapura  Rod',
 'RBI Layout',
 'Sampangirama Nagar',
 'Doctor Layout Rayasandra',
 'Pillanna Gardens',
 'AECS LAYOUT A-BLOCK Singasandra',
 'Banashankari Stage I',
 '4th Block HBR Layout',
 'Michael Palaya',
 'Akash Nagar',
 'Banashankari 2 nd Stage',
 'Shauhardha Layout',
 'Electronic city phase 1, ',
 'Anathanagar',
 'vinayakanagar',
 'Jaraganahalli Jp Nagar Post',
 'adigondanhalli',
 'Off Bannergatta Road',
 'Viviani Road',
 'Shanthi Pura',
 'Panathur Road, ',
 'RMC YARD',
 'Nanjappa Layout Vidyaranyapura',
 'Rammana Layout',
 'Raja Rajeshwari Nagara',
 'Thirupalya',
 'Manonarayanapalya',
 'Hoskote near',
 'Haralur Road, ',
 'Adugodi',
 'RK Colony',
 '2 Bedroom Furnished Farm House in Kolar Road',
 'kg halli jalhalli west',
 'Vasatha Vallbha Nagar',
 'BAGUR ROAD',
 'Balepet',
 'Annasandrapalya',
 'Off Bannergatta road',
 'Ramaswamy Palya - Kammanahalli Main Road',
 'BEML Layout 5th Stage',
 ' Anekal',
 'BDS Layout',
 'Viswajit Layout',
 'Srigandada Kaval',
 'Prestige Sunrise',
 'Tippenahalli',
 'Thavarekere',
 'Banaswadi, ',
 'Sector 4 HSR Layout',
 'Banashankari3rd stage bigbazar',
 'Kudlu Village, ',
 'Binny Mills Employees Colony',
 'Virgonagar',
 'Sampige Layout',
 'K N Extension',
 'banashankari stage iii sa',
 'Gaundanapalya',
 ' Bhoganhalli',
 'Amco Colony',
 ' ittamadu',
 'Howthinarayanappa Garden',
 'Chikkabidarakallu',
 '1 Giri Nagar',
 'Cambridge  road',
 'ITI Employees Layout',
 'Bahubali Nagar',
 'Ring Road Nagarbhavi',
 'Rajagopala Nagar',
 'Bank Avenue',
 'JakkurYelahanka',
 '5th block Koramangala',
 'Keerthi Layout',
 'Ganga Nagar Extension',
 'Bull Temple Road',
 'Huttanahalli',
 'Sahyadri Layout',
 'Laxminarayana Layout',
 'Kanakadasa Layout',
 'Mukkutam Nagar',
 'Indira Nagar 3rd Stage',
 'Kumbhena Agrahara',
 'Ncpr Industrial Layout',
 '1Hanuman Nagar',
 'Narayanappa Layout',
 'Pulikeshi Nagar',
 'RK Layout 2nd Stage',
 'Sri Kanteshwara Nagar',
 'BEL Layout',
 'Sundara Nagar',
 'M C Layout',
 'Off Sarjapur road, ',
 'J P Nagar 7th Phase Ramayya City',
 'Kanakapura Road',
 'Jp nagar 8th Phase .',
 'Dhanalakshmi Layout',
 'Maragondana Halli, kr puram, old madras road',
 'Govindraja Nagar',
 'T c palya',
 'sankeswari',
 'Gopal Reddy Layout',
 'Chikkabettahalli',
 'Banashankari 6th Stage ,Subramanyapura',
 'Popular Colony',
 'Reliable Woods Layout',
 'Arasanakunte',
 'Kirloskar layout, Basaveshwarnagar',
 'white field,kadugodi',
 'sapthagiri Layout',
 'Sector 3 HSR Layout',
 'KPC Layout',
 'Kalasipalya',
 'Bharath Housing Society Layout',
 '4 Bedroom Farm House in Bagalur',
 'Craig Park Layout',
 'Maruthi HBCS Layout',
 'Brigade Road',
 'Kengeri Satellite Town ( BDA SITE)',
 'Indiranagar HAL 2nd Stage',
 'GB Palya',
 'Hennur Busstop',
 'BAGUR',
 'M.G Road',
 'Devarabisanahalli',
 'Sundar Ram Shetty Nagar',
 'Rukmaiah Layout',
 'D Souza Layout',
 'Marathi Layout',
 'Defence Layout',
 'T.C. Palya',
 'Binnamangala',
 'Byappanahalli',
 'Chikkaballapur',
 'Narasapura',
 'Iggalur',
 'Jaya Nagar East',
 'Williams Town',
 'Mango Garden Layout',
 'Bidere Agarahara, Behind Safal market',
 'Shivanagar',
 'Malimakanapura',
 'Garden Layout',
 'Viswapriyanagar.begur Road.bommanahalli.',
 'kanakapura road',
 'Ramamohanapuram',
 'Sathanur',
 'Yemlur, Old Airport Road, ',
 'Attiguppe',
 'Sir M V Nagar',
 'Chokkasandra',
 'K G Colony',
 'Sree Narayana Nagar',
 'Maruthi Layout',
 'Kenchanehalli R R Nagar',
 'Agara Village',
 'NR Colony',
 'Marathalli bridge',
 'Papareddipalya',
 '3rd Block HBR Layout',
 'Hosahalli',
 'near Ramanashree California resort',
 'Lalbagh Road',
 '6th block banashankari 3rd stage, 100 feet ORR',
 'Chowdeshwari Layout',
 'Sulthangunta',
 '1 Ramamurthy Nagar',
 'Subramanyanagar',
 'Prakruthi Nagar',
 '2Electronic City Phase II',
 'P&T Colony',
 'Pai layout , Mahadevapura',
 'T K Reddy Layout',
 'Mathikere SBM colony',
 'P Krishnappa Layout',
 '2nd phase jp nagar, jp nagar',
 'Rajanna Layout',
 'Hullahalli',
 'Gangondanahalli',
 'Shettihalli',
 'MRCR Layout',
 'Arekempanahalli',
 'CR Layout',
 'Sonam Layout',
 'Fraser town',
 'NTI Layout',
 '1A Block Koramangala',
 'asha township, off hennur road',
 'Escorts Colony',
 'Rahat Bagh',
 'Nagarbhavi  BDA Complex',
 'Lakshmipura Vidyaanyapura',
 'Puttappa Layout',
 'Malur Hosur Road',
 'Tharabanahalli',
 'Rainbow Drive',
 'Shakthi Nagar',
 'Kalkere Channasandra',
 'Bellandur, ',
 'Seethappa Layout',
 'Bennigana Halli',
 'Prakruthi Township',
 'ravindra nagar, T.dasarahalli peenya',
 'RTO ullalu',
 'Gokaula Extension',
 'DUO Layout',
 'anjananager magdi road',
 'Jagajyothi layout',
 'Lakkasandra Extension',
 'Kuvempu Layout',
 'Chickpet',
 'Anekal - Hosur Road',
 'sarjapura main road',
 'Subramanya Nagar',
 'KHB Colony Extension',
 'Billapura',
 'Amrita Nagar',
 'Nrupathunga Nagar',
 'Muthyala Nagar',
 'Vikram Nagar',
 'Chokkahalli',
 'Nirman Layout',

In [43]:
df3["location"].replace(to_rename, "Other", inplace=True)

In [44]:
df3['location'].value_counts()

Other                 2896
Whitefield             534
Sarjapur  Road         392
Electronic City        302
Kanakpura Road         266
                      ...
Marsur                  11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [46]:
df3[:15]

                    location total_sqft  bath   price BHK
0   Electronic City Phase II       1056   2.0   39.07   2
1           Chikka Tirupathi       2600   5.0  120.00   4
2                Uttarahalli       1440   2.0   62.00   3
3         Lingadheeranahalli       1521   3.0   95.00   3
4                   Kothanur       1200   2.0   51.00   2
5                 Whitefield       1170   2.0   38.00   2
6           Old Airport Road       2732   4.0  204.00   4
7               Rajaji Nagar       3300   4.0  600.00   4
8               Marathahalli       1310   3.0   63.25   3
9                      Other       1020   6.0  370.00   6
10                Whitefield       1800   2.0   70.00   3
11                Whitefield       2785   5.0  295.00   4
12        7th Phase JP Nagar       1000   2.0   38.00   2
13                 Gottigere       1100   2.0   40.00   2
14                  Sarjapur       2250   3.0  148.00   3

In [48]:
dummies = pd.get_dummies(df3.location)

In [49]:
dummies

,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
dummies.drop(['Other'],axis=1,inplace=True)

In [52]:
df4 = pd.concat([df3,dummies],axis=1)

In [53]:
df4.head()

,location,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Electronic City Phase II,1056,2.0,39.07,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,2600,5.0,120.00,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,1440,2.0,62.00,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,1521,3.0,95.00,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,1200,2.0,51.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df4.drop(['location'],axis=1,inplace=True)

In [55]:
df4[:10]

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056,2.0,39.07,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2600,5.0,120.00,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440,2.0,62.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1521,3.0,95.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200,2.0,51.00,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1170,2.0,38.00,2,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,2732,4.0,204.00,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3300,4.0,600.00,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1310,3.0,63.25,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1020,6.0,370.00,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
df4.shape

(13246, 245)

In [67]:
df4.dtypes

total_sqft               object
bath                    float64
price                   float64
BHK                      object
 Devarachikkanahalli      uint8
                         ...
Yelachenahalli            uint8
Yelahanka                 uint8
Yelahanka New Town        uint8
Yelenahalli               uint8
Yeshwanthpur              uint8
Length: 245, dtype: object

In [69]:
df4['BHK'] = df4['BHK'].astype(float)

In [77]:
def isfloat(x):
    try:
        float(x)
    except:
        return False
    return True

In [78]:
df4[~df4['total_sqft'].apply(isfloat)].head(10)

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
30,2100 - 2850,4.0,186.000,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
122,3067 - 8156,4.0,477.000,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,1042 - 1105,2.0,54.005,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
165,1145 - 1340,2.0,43.490,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
188,1015 - 1540,2.0,56.800,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
410,34.46Sq. Meter,1.0,18.500,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
549,1195 - 1440,2.0,63.770,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
648,4125Perch,9.0,265.000,9.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
661,1120 - 1145,2.0,48.130,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
672,3090 - 5002,4.0,445.000,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [94]:
def convert(x):
    tokens = x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [95]:
df5 = df4.copy()

In [96]:
df5['total_sqft']=df5['total_sqft'].apply(convert)

In [97]:
df5.shape

(13246, 245)

In [99]:
df5.isna().sum()

total_sqft              46
bath                     0
price                    0
BHK                      0
 Devarachikkanahalli     0
                        ..
Yelachenahalli           0
Yelahanka                0
Yelahanka New Town       0
Yelenahalli              0
Yeshwanthpur             0
Length: 245, dtype: int64

In [100]:
df5[:10]

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,39.07,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,120.00,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,62.00,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,95.00,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,51.00,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1170.0,2.0,38.00,2.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,2732.0,4.0,204.00,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3300.0,4.0,600.00,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1310.0,3.0,63.25,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1020.0,6.0,370.00,6.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
df6 = df5.dropna()

In [103]:
df6.shape

(13200, 245)

# NOW We apply  dbscan for outlier Detection

In [114]:
df6[:5]

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,39.07,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,120.00,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,62.00,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,95.00,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,51.00,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [115]:
df6.dtypes

total_sqft              float64
bath                    float64
price                   float64
BHK                     float64
 Devarachikkanahalli      uint8
                         ...
Yelachenahalli            uint8
Yelahanka                 uint8
Yelahanka New Town        uint8
Yelenahalli               uint8
Yeshwanthpur              uint8
Length: 245, dtype: object

In [116]:
from sklearn.preprocessing import StandardScaler

In [117]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df6)

In [152]:
epsilon = .5
min_samples = 20

In [153]:
dbscan = DBSCAN(eps=epsilon, min_samples=min_samples)
labels = dbscan.fit_predict(X_scaled)

In [154]:
outliers = df6[labels==-1]

In [155]:
df7= df6[labels != -1]

In [156]:
df7.shape

(6839, 245)

In [157]:
outliers.shape

(6361, 245)

In [158]:
df6.shape

(13200, 245)

In [159]:
df7.head()

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,39.07,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,62.00,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,51.00,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1170.0,2.0,38.00,2.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,1310.0,3.0,63.25,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [160]:
df7.describe()

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
count,6839.000000,6839.000000,6839.000000,6839.000000,6839.0,6839.0,6839.0,6839.0,6839.0,6839.0,...,6839.0,6839.0,6839.0,6839.000000,6839.000000,6839.0,6839.000000,6839.0,6839.0,6839.000000
mean,1293.038938,2.274017,72.943116,2.389969,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.004971,0.058196,0.0,0.022810,0.0,0.0,0.006872
std,374.219324,0.614785,41.684329,0.632658,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.070338,0.234130,0.0,0.149309,0.0,0.0,0.082620
min,11.000000,1.000000,9.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
25%,1080.000000,2.000000,46.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
50%,1210.000000,2.000000,61.950000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
75%,1464.500000,3.000000,87.000000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
max,4111.000000,5.000000,365.000000,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,1.000000,0.0,1.000000,0.0,0.0,1.000000

In [171]:
df8 = df7[~(df7.total_sqft<280)]

In [172]:
df8.shape

(6837, 245)

In [173]:
df8.describe()

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
count,6837.000000,6837.000000,6837.000000,6837.000000,6837.0,6837.0,6837.0,6837.0,6837.0,6837.0,...,6837.0,6837.0,6837.0,6837.000000,6837.000000,6837.0,6837.000000,6837.0,6837.0,6837.000000
mean,1293.413382,2.274097,72.949242,2.390083,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.004973,0.058213,0.0,0.022817,0.0,0.0,0.006874
std,373.632919,0.614619,41.687188,0.632484,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.070349,0.234162,0.0,0.149331,0.0,0.0,0.082632
min,296.000000,1.000000,9.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
25%,1081.000000,2.000000,46.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
50%,1210.000000,2.000000,61.950000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
75%,1465.000000,3.000000,87.000000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
max,4111.000000,5.000000,365.000000,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,1.000000,0.0,1.000000,0.0,0.0,1.000000

# Model building

In [181]:
x=df8.drop(['price'],axis=1)

In [182]:
y=df8.price

In [183]:
x.head()

,total_sqft,bath,BHK,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1170.0,2.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,1310.0,3.0,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [184]:
y.head()

0    39.07
2    62.00
4    51.00
5    38.00
8    63.25
Name: price, dtype: float64

In [284]:
from sklearn.model_selection import train_test_split

In [285]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2)

In [286]:
from sklearn.preprocessing import MinMaxScaler

In [287]:
scaler1 = MinMaxScaler()

In [288]:
scaler1.fit(x_train)

MinMaxScaler()

In [289]:
X_train_scaled = scaler1.transform(x_train)
X_test_scaled = scaler1.transform(x_test)

In [290]:
from sklearn.linear_model import LinearRegression

In [291]:
lr = LinearRegression()

In [292]:
lr.fit(X_train_scaled,y_train)

LinearRegression()

In [293]:
lr.score(X_test_scaled,y_test)

0.5964150712932944

In [294]:
lr.score(X_train_scaled,y_train)

0.5932331215596001

In [295]:
from sklearn import linear_model
lasso = linear_model.Lasso()

In [296]:
lasso.fit(X_train_scaled,y_train)

Lasso()

In [297]:
lasso.score(X_test_scaled,y_test)

0.5031968398205324

In [298]:
from sklearn.linear_model import Ridge

In [299]:
rid = Ridge()

In [300]:
rid.fit(X_train_scaled,y_train)

Ridge()

In [301]:
rid.score(X_test_scaled,y_test)

0.5973189189554162

In [302]:
from sklearn import svm

In [303]:
clf = svm.SVR()

In [304]:
clf.fit(X_train_scaled,y_train)

SVR()

In [305]:
clf.score(X_test_scaled,y_test)

0.4864977197296042

In [306]:
from sklearn.ensemble import RandomForestRegressor

In [307]:
regressor = RandomForestRegressor(n_estimators=100,max_depth=30,random_state=42)

In [308]:
regressor.fit(X_train_scaled,y_train)

RandomForestRegressor(max_depth=30, random_state=42)

In [309]:
regressor.score(X_test_scaled,y_test)

0.582696357023762